@import '@fortawesome/fontawesome-free/css/all.min.css';
@import '@fontsource/open-sans';
@import '@fontsource/lato';
@import '@fontsource/montserrat';

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(135deg, rgba(244,242,244,0.7), rgba(243,231,243,0.7)), url('./../public/images/fondoPoke3D.jpg') no-repeat center center ;
    background-size: cover;
    overflow: hidden;
    
    
  }



  .background-home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the background is behind other content */
    overflow: hidden; /* Hide any overflow */
    background: linear-gradient(135deg, rgba(244,242,244,0.8), rgba(243,231,243,0.95)), url('./../public/images/fondoPoke3D.jpg') no-repeat center center ;
    background-size: cover;
    overflow: hidden;
  }


  
  .custom-header-bg {
    background: linear-gradient(160deg, #f5a6e6, #c5b3f6, #f5a6e6);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.logo-containerh {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.cards-container {
  position: absolute;
  width: 70px;
  height: 70px;
  animation: float 50s ease-in-out infinite;
}

.cards{
  width: 100%;
  height: 100%;
  opacity: 0.8;
  animation: rotate 50s linear infinite;
}
  
@keyframes float {
  0% {
    transform: translateY(0px) scale(1);
  }
  50% {
    transform: translateY(-30px) scale(1.5);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }

    75% {
      transform: rotate(-20deg);
    }  
    100% {
      transform: rotate(0deg);
    }
  }

  /* Opcional: Puedes ajustar el estilo de la tarjeta según lo necesites */
.user-card {
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;
}

.user-card:hover {
  transform: translateY(-5px);
}
.search-bar,
.user-card {
  font-family: 'Roboto', sans-serif bold;
}

