@import '@fortawesome/fontawesome-free/css/all.min.css';
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('./components/images/fondoPoke3D.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    
    
  }
  .custom-header-bg {
    background: linear-gradient(200deg, #f5a6e6, #9f80f3);
  }
  .custom-header-bg {
    background: linear-gradient(270deg, #f5a6e6, #9f80f3, #f5a6e6);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.logo-containerh {
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* Estilos y animación para el logo */
.animated-logo {
  width: 140px; /* Ajusta el tamaño según necesites */
  animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
.pokeball {
  position: absolute;
  width: 70px;
  height: 70px;
  opacity: 0.8;
  animation: float 4s ease-in-out infinite;
}
  
  @keyframes float {
    0% { transform: translateY(0px) scale(1); }
    50% { transform: translateY(-30px) scale(1.5); }
    100% { transform: translateY(0px) scale(1); }
  }
